/** Media para celular */
@media (max-width: 576px){
    header{
        min-width: 300px;        
    }
    .navbar-list{
        display: none;
        position: absolute;
        top: 45px;
        left: 0%;
        width: 100%;
        min-height: 125px;
        background-color: var(--white);
    }
    .bars-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22.5px;
        order: 1;
        cursor: pointer;
    }
    .carrito-icon{
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 22.5px;
        margin-left: 170px;
    }
    .logo{
        height: 80%;
    }
    .carrito{
        display: none;
        position: absolute;
        top: 50px;
        left: 0%;
        color: var(--beige);
        padding-left: 5px;
        padding-bottom: 20px;
    }
    .carrito > h2{
        font-size: 18px;
    }
    .empty-msg{
        font-size: 14px;
    }
    .linea-divisoria{
        height: 2px;
        width: 90%;
        background-color: rgb(231, 223, 223);
        border-radius: 10px;
    }
    .carrito-total{
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
    }
/* ------------------------------ */
    .hero{
        flex-direction: column;
        height: 100vh;
    }
    .hero-text{
        width: 95%;
        height: 95%;
        font-size: 16px;
        text-align: center;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
/* ------------------------------ */
.section-clasic{
    width: 95%;
    height: 100%;
}
.selection{
    height: 10%;
    width: 95%;
    font-size: 15px;
    text-align: center;
}
.container-filter{
    width: 95%;
    position: relative;
    margin: 15px 0px;
    right: 17px;
}
.container-filter > h4{
    width: 30%;
}
.filter{
    position: absolute;
    z-index: 2;
    top: 25px;
    width: 250px;
    height: 125px;
    border-radius: 0px 0px 5px 5px;
}
.cards{
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    gap: 15px;
}
.card{
    flex-direction: column;
    width: 90%;
    height: 500px;
}
.img-card{
    width: 10%;
    height: auto;
}
.card-text{
    flex-direction: row;
    font-size: 15px;
    text-align: center;
}

.card-description{
    flex-direction: column;
}
.btn-add{
    height: 30px;

}
.section-img{
display: none;
}
#blog > h3{
    text-align: center;
    margin-bottom: 15px;
}
/* ------------------  */
.btn-more{
    height: 30px;
    margin-top: 30px;
}
/* ------------------ */
.section-ubication-contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    gap: 25px;
    flex-wrap: wrap;
}
.circle-ubication{
    width: 200px;
    height: 200px;
}
.img-ubication{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 25px;
    right: 60px;
}
.img-ubication:hover{
    height: 250px;
    width: 250px;
    transition: none;
}
.ubication{
    width: 95%;
    height: 100%;
}
.text-ubication > h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
}
.reserve{
    width: 95%;
    height: 100%;
}
.form{
    width: 100%;
    height: 550px;
}
.form > textarea{
    height: 100px;}
}
/*!------------------- PARA JS ---------------------------- */

.open-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}
.open-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}
.open-filter{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    }
.hidden{
    visibility: hidden;
}
.form_field.success input{
    border: 2px solid #28a745
}
.form_field.error input {
    border: 2px solid #dc3545
}
.small{
    font-size: 12px;
    font-weight: 600;
    color: #dc3545;
    padding: 4px 0px;
}
.add-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 195, 86);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-in;
    transform: translateY(200%);
    padding: 15px 0px;
}
.show-modal{
    transform: translateY(0);
    transition: all 0.5s ease-out;
}
.empty-msg{
    font-size: 18px;
    text-align: center;  
}
.disabled{
    background-color: grey;
    color: white;
    cursor: not-allowed;
    border: none;
}
/* ?Estilo para adentro del carrito*/

.cart-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-cart-item{
    display: flex;
    width: 100px;
    height: 100px;
}
.text-cartProd{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 16px;
}
.counter-cartProd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.up, .down{
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px 10px;
}
.hidden{
    visibility: hidden;
}
#container-all-cards{
    flex-wrap: wrap;
    height: 100%;
    gap: 30px;
}

#container-sing-card{
    border: 2px solid var(--beige);
    display: none;
    flex-wrap: wrap;
}
#container-sing-card:nth-child(1), #container-sing-card:nth-child(2),
#container-sing-card:nth-child(3){
    display:flex;
    transition: 0.2s ease all;
}


/*!------------------- PARA JS ---------------------------- */
/** Media para tablet */
@media (max-width: 992px){

.carrito{
    width: 50%;
    left: 50%;
}
.container-filter{
    width: 100%;
    position: relative;
}
.filter{
    top: 100%;
    left: 63.5%;
    width: 250px;
    height: 125px;
}
.img-card{
    width: 205px;
    height: auto;
}
.section-ubication-contact{
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    }
.circle-ubication{
display: none;
}
.img-ubication{
display: none;
}
.ubication{
    height: 90%;
    width: 50%;
    gap: 80px;
}
.reserve{
    width: 50%;
}

.form > input >textarea{
    width: 250px;
}
.form > textarea{
    height: 90px;
}

.cards{
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}
#coffees{
    height: 100%;
}
}