/* Tablet */
@media (max-width: 992px) {
    #coffees{
        height: 100%;
        padding: 10px 0px;
    }
    .cards{
        flex-direction: column;
        height: 100%;
        gap: 30px;
    }
    .container-filter{
        padding: 15px 0px;
    }
    .container-filter > h4{
        width: 59.5%;
        margin: 0 auto;
        position: relative;
    }
    .filter{
        width: 59.6%;
        top: 37px;
        right: 20%;
        position: absolute;
    }
    .section-ubication-contact{
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .circle-ubication, .img-ubication{
        display: none;
    }
    .form_field > input{
        width: 380px;
    }
    .open-menu{
    display: flex;
}
}
/*! ----------------------------- */

/** Media para celular */
@media (max-width: 576px){
    .logo{
        height: 80%;
        width: auto;
        top: 5px;
    }
    .bars-menu{
        display:flex;
        color: var(--beige-light);
        font-size: 20px;
        cursor: pointer;
        position: relative;
        left: 150px;
    }
    .carrito-icon{
        color: var(--beige-light);
    }
    .navbar{
        position: relative;
    }
    .navbar-list{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
        background-color: var(--brown);
        gap: 50px;
        position: absolute;
        top: 30px;
        right: -211px;
        min-width: 576px;
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
        display: none;
    }
    /* --------------- bendito carrito */
    .carrito{
        top: 30px;
        right: 0px;
        left: -233px;
        padding: 20px 10px;
        background: var(--beige);
    }
    .carrito > h2{
        font-size: 17px;
    }
    .carrito-productos{
        flex-wrap: wrap;
    }
    .text-cartProd{
        text-align: center;
        line-height: 25px;
    }
    .text-cartProd > h3{
        font-size: 15px;
        font-weight: 600;
    }

    .up:hover, .down:hover{
        background-color: var(--brown);
        color: var(--beige-light);
    }
    .carrito-total{
        gap: 50px;
    }
    /* -------------------- */

    .container-filter{
        width: 95%;
        position: relative;
        right: 0px;
    }
    .container-filter > h4{
        width: 100%;
    }
    .filter{
        width: 100%;
        gap: 10px;
        right: 0px;
    }
    /* --------------- */
    #coffees{
        height: 100%;
        gap: 20px;
    }
.cards{
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}
.card{
    width: 300px;
    height: auto;
    padding: 20px 0px;
}
.img-card{
    width: 250px;
    height: auto;
    object-fit: cover;
}
.card-text, .card-description{
    width: 97%;
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
}
/* --------------------- */
.section-ubication-contact{
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.circle-ubication, .img-ubication{
    display: none;
}
.text-footer{
    width: 100%;
    text-align: center;
}
.open-menu{
    display: flex;
}
.form_field > input, textarea {
    width: 300px;
}
}


/*! --------------------------- */
