@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; font-family: 'Cormorant', serif; font-family: 'Source Sans Pro', sans-serif;}

.root{
    --brown: #2C1E1D;
    --beige: #776E4F;
    --beige-light: #EBECDC;
    --orange-pastel: #FFAB4F;

    --titulos:font-family: 'Source Sans Pro', sans-serif;
    --parrafos: font-family: 'Source Sans Pro', sans-serif;
    --menu:font-family: 'Cormorant', serif;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border: 2px solid orange;
    padding: 0px 25px 0px 25px;
    position: sticky;
    top: 0;
}
.navbar-list{
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 400px;
}
.icono-carrito{
    order: 1;
    height: 100%;
    border: 2px solid orange;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carrito{
    order: 2;
    height: 100%;
    border: 2px solid orange;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 58px;
    left: 80%;
    width: 20%;
    min-height: 400px;
}
.divider{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
}
.carrito-total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.btn-comprar, .btn-vaciar-carrito{
    height: 60px;
    width: 120px;
    border:none;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
}
.btn-comprar{
    background-color: #cb670a;
}
.btn-vaciar-carrito{
    background-color: #cb670a6b;
}
/* *------------------------------------------------------------------------ */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige-light);}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px #6c5d5d solid ;
    height: 653px;
    width: 90vw;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px green solid;
    height: 50%;
    width: 50%;
}
.hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px rgb(35, 91, 126) solid;    
    height: 50%;
    width: 40%;
}

/* *------------------------------------------------------------------------ */

.section-clasic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 654px;
    border: 2px #d722a4 solid;    
}
.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px #22d725 solid;    
    /* height: 25%; */
    width: 90%;
}
.container-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end ;
    border: 2px #d7b322 solid;
    width: 90%;
    /* height: 10%; */
}
.container-filter > h4{
    border: 1px solid salmon;
    width: 13.7%;
    text-align: center;
    cursor: pointer;
}
.filter{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    border: 2px #d72222 solid;
    width: 170px;
    height: 100px;
    position: absolute;
    top: 769px;
    left: 79.6%;
}
.filter > p > span{
    font-weight: 700;
}
.filter > p{
    margin-left: 5px;
    cursor: pointer;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px #cb670a solid;
    width: 90%;
    height: 800px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 2px #4800ff solid;
    height: 580px;
    width: 400px;
    flex-wrap: wrap;
}
.img-card{
    width:325px;
    height: auto;
}

.card-text, .card-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px #18e0e0 solid;
    width: 100%;
    text-align: center;
}
.btn-add, .btn-clasic{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* ----------------------------------- */
.section-img{
    background: url(./assets/img/coffee.jpg)no-repeat center center/cover;
}

.section-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100%;
    border: 2px #d722a4 solid;
}
/* ----------------------------------- */

.section-ubication-contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 130px;
}
.circle-ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #8622d7a8;
    margin: 50px;
}
.img-ubication{
    height: 350px;
    width: 350px;
    position: absolute;
    right: 70.5%;
}
.img-ubication:hover{
    cursor: pointer;
    height: 370px;
    width: 370px;
    transition: all 0.5s ease-out;
}

.ubication{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 18%;
}
.text-ubication > h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text-ubication > p{
    width: 200px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.reserve{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 30%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
}
.form > h3{
    text-align: center;
    font-size: 25px;
}
.form_field > input{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: none;
    padding-left: 5px;
    border: none;
    outline: none;
}
.form > textarea{
    width: 300px;
    height: 150px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    border: none;
    outline: none;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 70px;
    padding: 0px 10px 0px 10px;
}
.img-footer > img{
    height: 18px;
    padding-right:10px ;
}
.logo{
    height: 90% ;
}
.bars-menu{
    display: none;
}
