@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none; font-family: 'Quicksand', sans-serif;     letter-spacing: 3px;}

:root{
    --brown: #2C1E1D;
    --beige: rgb(119, 110, 79);
    --beige-light: #EBECDC;
    --white: #fbfafa;
    --font-small: font-size: 13x;
    --font-medium: font-size: 16px;
    --font-big: font-size: 20px;
    --orange-pastel: #FFAB4F;
    --red: rgb(198, 47, 47);
    --green: rgb(47, 198, 47);
}
html{
    scroll-behavior: smooth;
    scroll-padding-bottom: 5px;
    scroll-padding-top: 50px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0px 25px 0px 25px;
    position: sticky;
    top: 0;
    background: var(--white);
    color: var(--beige);
    z-index: 2;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 400px;
}
li,a{
    color: var(--beige);
    font-size: var(--font-small);
    font-weight: 700;
}
li,a:hover{
    color:var(--brown);
    transition: all 0.3s ease-in-out;
}
.icono-carrito{
    order: 1;
    height: 100%;
    font-size: var(--font-big);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
.icono-carrito:hover{
    color: var(--brown);
    transition: all 0.3s ease-in-out;
}
.carrito{
    order: 2;
    min-height: 100vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 50px;
    left: 80%;
    width: 20%;
    background-color: var(--white);
}
.carrito > h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--beige);
    text-align: center;
}
.empty-msg{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.divider{
    width: 90%;
    height: 2.5px;
    background-color: var(--beige);
    margin-top: 50px;
}
.carrito-total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
.btn-comprar, .btn-vaciar-carrito{
    height: 40px;
    width: 70%;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-comprar{
    background-color: #cb670a;
}
.btn-vaciar-carrito{
    background-color: #cb670a6b;
    margin-bottom: 30px;
}
/* *------------------------------------------------------------------------ */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 663px;
    width: 90vw;
    background: url(./assets/img/bgbeans.jpg) center/cover;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 70%;
    color: var(--white);
    line-height: 40px;
    font-size: 20px
}

/* *------------------------------------------------------------------------ */

.section-clasic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 93vh;
}
.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: var(--beige);
    font-size: var(--font-small);
}
.selection > h3{
    margin-top: 30px;
}
.container-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end ;
    width: 90%;
    color: var(--beige);
    position: relative;

}
.container-filter > h4{
    border: 1px dashed var(--beige);
    border-radius: 3px;
    width: 13.7%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.containepxr-filter > h4:hover{
    color: var(--brown);
    transition: all 0.3s ease-in-out;
}
.filter{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 777.5px;
    left: 77%;
    background: var(--white);
    z-index: 1;
    border: 1px dashed var(--beige);
}
.filter > p > span{
    font-weight: 700;
}
.filter > p{
    margin-left: 5px;
    cursor: pointer;
    color: var(--beige);
}
.filter >p:hover{
    color: var(--brown);
    transition: all 0.3s ease-in-out;
}
#colombia:hover{
    color:rgb(209, 198, 47) ;
}
#brasil:hover{
    color:rgb(23, 158, 28) ;
}
#italiano:hover{
    color:rgb(198, 47, 47) ;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 2px var(--beige) solid;
    border-radius: 5px;
    height: 580px;
    width: 400px;
    flex-wrap: wrap;
}
.card:hover{
    transform: scale(1.01);
    transition: all 0.75s ease-out;
}
.img-card{
    height: 450px;
    width: auto;
    border-radius: 5px;
}
.card-text, .card-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}
.btn-add, .btn-clasic{
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: var(--beige);
    color: var(--beige-light);
    font-weight: 500;
}
.btn-add:hover, .btn-clasic:hover{
    background: var(--brown);
    transition: all 0.3s ease-in-out;
}
/* ----------------------------------- */
.section-img{
    background: url(./assets/img/bgbeans.jpg)no-repeat center center/cover;
}

.section-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100%;
    gap: 10px;
    margin: 20px 0px;
}
/* ----------------------------------- */

.section-ubication-contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 130px;
}
.circle-ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--beige);
    margin: 50px;
}

.img-ubication{
    height: 350px;
    width: 350px;
    position: absolute;
}
.img-ubication:hover{
    cursor: pointer;
}

.ubication{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 18%;
    text-align: center;
}
.text-ubication > h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text-ubication > p{
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.reserve{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 30%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
}
.form > h3{
    text-align: center;
    font-size: 25px;
}
.form_field > input{
    width: 300px;
    height: 30px;
    border: none;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: var(--white);
    border-bottom: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
}
.form > textarea{
    width: 300px;
    height: 150px;
    border: none;
    padding: 5px;
    border: none;
    outline: none;
    background-color: var(--white);
    border-bottom: 1px solid var(--brown);
    border-left: 1px solid var(--brown);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 70px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
.img-footer > img{
    height: 18px;
    padding-right:10px ;
}
.logo{
    height: 90% ;
}
.bars-menu{
    display: none;
}
.form_field > small{
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    display: flex;
    width: 300px;
    height: 40px;
    color: var(--red);
}
